body,html{background-color:#fff;margin:0;padding:0;overflow:hidden;width:100%;height:100%}
#container{display:inline-block;position:relative;width:100%;height:100%}
.textdata{position:absolute;border-radius:5px;padding:0 10px;font-family:palatino;background:rgba(225,225,225,0)}
.header{font-family:helvetica}
.textdata>h2{text-decoration:underline}
#starlist{top:120px;font-size:16px}
#planetlist{top:400px;font-size:16px}
#starlist,#planetlist{font-family:palatino;position:absolute;z-index:1000}
#title{top:25px}
#systeminfo{width:350px;top:160px}
#planetinfo{top:440px;width:350px}
#title,#systeminfo,#planetinfo,#starlist,#planetlist{left:20px}
#starlist,#planetlist{background:rgba(225,225,225,0.8);width:150px}
#title,#systeminfo,#planetinfo{background:rgba(225,225,225,0.2);color:#fff}
#jp_container_1 #jquery_container_1 #jp_poster_0{width:100px;height:100px;top:600px;left:20px;z-index:1000}
