body, html
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

#container
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

#title
  backgroundColor = 'white';
  position = 'absolute';
  borderRadius = "5px";
  padding = "0px 20px";
  left = "100px";
  top = "100px";