body, html
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

#container
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

.textdata
  background-color: white;
  position: absolute;
  border-radius: 5px;
  padding: 0px 5px;

#title
  left: 20px;
  top: 35px;

#starinfo
  left: 20px;
  top: 180px;

#planetlist
  left: 20px;
  top: 275px;